$bodybgcolor:linear-gradient(to bottom,#012636,#00272E,#013C49); //body backgroung color
$bgdcolor:#194E4D; // button Hover color;
$bcolor: #266261;
$btcolor:#fff;
$center: center;
$none:none;
$bgimage: url("1.jpg") no-repeat $center/cover;



